body{
    background-image:url('./image1.png');
    background-repeat:no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
  
}
.nav{
    display: inline-block;
    margin-top:30px;
    margin-left:95px;
    color: aliceblue;
    font-size: medium;
}
.praroz{
    font-size: 70px;
    color: orangered;
}
.border{
    border:2px solid  orangered;
    height:30px;
    width: 200px;
    border-radius: 3px;
}
.span1{
    display: inline-block;
    width:130px;
    text-align: center;
}
.span2{
    background-color: orangered;
    display:inline-block;
    border-radius: 3px;
    height:30px;
    width:66px;
    text-align: center;
}
.content{
    width: 450px;
    height: 600px;
    margin-left: 95px;
    margin-top: 95px;
    float: right;
}
.size{
    font-size: 45px;
}
.color{
    color: orangered;
}
.color1{
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    
}
.color2{
    width: 130px;
    height: 40px;
    background-color: rgb(255, 68, 0);
    color: black;
    border-radius: 7px;
    margin-left: 10px;
    border: none;
}
.padding{
    padding: 10px;
}
.bg{
    float:left;
    
    
}
.align{
    margin-left: 500px;
    margin-top: 120px;
    background-color: rgba(0,0,0,0.5);
    width: 270px;
    height:400px;
}
.color3{
    color: orangered;
    background-color: aliceblue;
    width: 120px;
    height:20px;
    border-radius: 5px;
    text-align: center;
    padding: 3px;
    margin: auto;
    margin-top: 20px;
}
.form{
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px;
}
.input{
    width: 200px;
    height: 30px;
    background-color:rgba(0,0,0,0);
    border: none;
    border-bottom:3px solid orangered;
    border-radius: 3px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
input::placeholder{
    color:aliceblue;
}
.login1{
    width: 200px;
    height: 40px;
    background-color:  orangered;
    border-radius: 5px;
    font-weight: bold;
    margin-left: 35px;
    margin-top: 20px;
    border: none;
}
.color4{
    color: aliceblue;
    text-align: center;
}
.sign{
    color: orangered;
    text-align: center;
    margin-top: -20px;
}



